# Importing CSV

Often times data will be retrieved in the form of an excel document, we need to turn this into something python can read, luckily the pandas library can handle that for us! If you haven't already, make sure you use pip install pandas in your command line, as you will need it's dependancies before we get started. 

The code below does several things. 
First we import our library (pandas)

secondly, we take each of our CSVs and assign them to a variable that is easier to work with, for this example, I will use df (datafile) to refer to my data sets. 

Finally, we can use the describe() method to get a table of our data set.

In [53]:
import pandas as pd

df = pd.read_csv('heart.csv')
df2 = pd.read_csv('o2Saturation.csv')

#shows us a table of collumns and rows of our data, shows the mean, std, min, max, interquartile range
df.describe()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [54]:
df2.describe()

              98.6
count  3585.000000
mean     98.239275
std       0.726336
min      96.500000
25%      97.600000
50%      98.600000
75%      98.600000
max      99.600000

# Null values

Clearly missing values will impact the results for our data, so lets see how complete our data set is.

First let's see how many fields we are missing.
Since this data set is relatively complete, we don't expect to see any "True" results, which would indicate null values

In [55]:
#find any null values in our data
df.isnull().any()

age         False
sex         False
cp          False
trtbps      False
chol        False
fbs         False
restecg     False
thalachh    False
exng        False
oldpeak     False
slp         False
caa         False
thall       False
output      False
dtype: bool

# Percentage null data

Since we know in this example that none of our values have any null data, we can move on, but what if you DID have null data?
We would want to know what percentage of that field was missing data, we can do this by running the following method

In [56]:
df.isnull().sum()/df.shape[0]

age         0.0
sex         0.0
cp          0.0
trtbps      0.0
chol        0.0
fbs         0.0
restecg     0.0
thalachh    0.0
exng        0.0
oldpeak     0.0
slp         0.0
caa         0.0
thall       0.0
output      0.0
dtype: float64

# Dropping duplicates 
An important part of Data Sciene and Data cleaning in general is making sure that we don't have excess numbers that skew our results. 
That being said, it should be obvious why removing duplicate data values is important to getting accurate results.

### drop_duplicates(inplace =True)

This code causes the data value in the current field to be dropped if it is in fact a duplicate of another value. 
For those already familiar with python, this is very similar to using array.pop()

In [57]:
df.drop_duplicates(inplace = True)

# Incomplete Data Sets

While this has no impact on the data set using in this example, what could we do if our data includes values that are empty (null)?

These results might skew our observation or experiment, so it is important to conider these things before we get into working with the data itself.

In the below example, we are trying to determine whether or not a certain amount of fields are blank, and if they are, we will remove the collumn from our list of considered items. 

In the example below, we will use a threshold of 60% by creating a new threshold variable, and applying it to a dropna() function.

In [58]:
thresh = len(df)*.6

# Checking AXIS


the axis here refers to whether or not we are dropping collumns or rows, in this case, we will drop collumns with values that are too low
### row = 0, collumn = 1
if the data has too many null values, it is simply not relevant enough to the study to inclue (it will skew the data disproportionately to reality,
or it doesn't corelate at all)

additionally, knowing the shape of our data is important 
first we will check our collumns to see if they meet our threshold cutoff, once we have done that we will work with rows
since we have 6 rows in this example project, let's cut out any rows that have 5 or less values
again, this is a relatively complete data set, meaning we don't have many null values
this type of cleaning becomes EXTREMELY important in larger data sets that are missing relevant information
since incomplete results will skew our analysis.

In [59]:
df.dropna(thresh=thresh, axis =1).shape
df.dropna(thresh=5,axis=0).shape

(302, 14)

# Filling in missing values 

### Sometimes missing values are useful, but what if we have significant data in our entry, but are missing 1 value?

if you were working with machine learning, you could choose to replace missing row values with the mean or median of the group, even IQR
this could be useful in instances where, for example, you are conducting a survey, and partiticipants chose not to answer a certain question. 
that kind of thing COULD be meaningful for very specific types of surveys and help mitigate response bias, or various other factors, depending
on the survey method and participants perception of anonymity. This is mostly used for quantitavive values, but with some modifiation could also
be used for qualitative ones as well.

fill any age field that is missing with the median age of participants 
this is an example of the numeric data manipulation to "autofill" this section for live participants who might be chatting with assistants who
they may feel the need to skew the data for (or something, just a rough example)

In [60]:
df.age.fillna(df.age.median()).isnull().any()
# the same could be done for the mean, these are both very common methods for handling missing values, especially with larger sample sizes
df.age.fillna(df.age.mean()).isnull().any()

# both of these methods will return false, because again, we have no null values, but these would be effective in data sets that are incomplete

False

# Text Management
next we will talk about text management in theoretical terms. For this example, all of our data is quantitative, but what if for "sex" we allowed
for nonbinary identifaction (consider the impacts of HRT on heart disease for example, what if we wanted to track data like this?)
due to the nature of this particular file, that isn't something we can look at, so let's just consider the possibility and include code to do so.

#first we would need to ensure that all of the entered values were all the same case, that way we can more easily work with the data.
#henceforth throughout the project, we will refer to this as normalization, not to be confused with vector normalization.

First, let's check the first 5 values using the head() method (as a side note, if we wanted to check the end, we could use tail())

In [61]:
df.sex.head()

0    1
1    1
2    0
3    1
4    0
Name: sex, dtype: int64

The collumn on the left is denoting the index at which the value is stored, while the value on the right is telling us what gender the individual is

# Changing Text data to consitant types 

the following code snippet will allow us to change all of our code to lower case strings, which is useful to make sure all categories are consistant for later use. 

df.desc.apply(lambda x : x.lower())
we could also use x.title() or x.upper()

it simply depends on what is easiest for you to read, work with, and is really up to your preference!
Since our values are integers, it won't be used in this example, but it's here for you to work with if you like!