In [29]:
# Data cleaning for Kaggle project 1 - 

import pandas as pd

df = pd.read_csv('heart.csv')
df2 = pd.read_csv('o2Saturation.csv')




#shows us a table of collumns and rows of our data, shows the mean, std, min, max, interquartile range


print(df.describe())

#find any null values in our data
df.isnull().any()

#find the % of null values in our data set (this is more useful in raw data than available data)
# currently this line shows that no lines in our data set have null values, and all values are included within this data set
df.isnull().sum()/df.shape[0]

## drop duplicates

df.drop_duplicates(inplace = True)
# using the inplace = TRUE method replaces all null values with the dropped method, meaning that they are removed in a method similar to .pop()

#remove all null collums over a threshold, again, not useful for this PARTICULAR dataset, as there are no null values
#but incredibly important for larger samples where data could be missing
thresh = len(df)*.6

# the axis here refers to whether or not we are dropping collumns or rows, in this case, we will drop collumns with values that are too low
#row = 0, collumn = 1
# if the data has too many null values, it is simply not relevant enough to the study to inclue (it will skew the data disproportionately to reality,
# or it doesn't corelate at all)
df.dropna(thresh=thresh, axis =1).shape

              age         sex          cp      trtbps        chol         fbs  \
count  303.000000  303.000000  303.000000  303.000000  303.000000  303.000000
mean    54.366337    0.683168    0.966997  131.623762  246.264026    0.148515
std      9.082101    0.466011    1.032052   17.538143   51.830751    0.356198
min     29.000000    0.000000    0.000000   94.000000  126.000000    0.000000
25%     47.500000    0.000000    0.000000  120.000000  211.000000    0.000000
50%     55.000000    1.000000    1.000000  130.000000  240.000000    0.000000
75%     61.000000    1.000000    2.000000  140.000000  274.500000    0.000000
max     77.000000    1.000000    3.000000  200.000000  564.000000    1.000000

          restecg    thalachh        exng     oldpeak         slp         caa  \
count  303.000000  303.000000  303.000000  303.000000  303.000000  303.000000
mean     0.528053  149.646865    0.326733    1.039604    1.399340    0.729373
std      0.525860   22.905161    0.469794    1.161075    0.616226    1.022606
min      0.000000   71.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000  133.500000    0.000000    0.000000    1.000000    0.000000
50%      1.000000  153.000000    0.000000    0.800000    1.000000    0.000000
75%      1.000000  166.000000    1.000000    1.600000    2.000000    1.000000
max      2.000000  202.000000    1.000000    6.200000    2.000000    4.000000

            thall      output
count  303.000000  303.000000
mean     2.313531    0.544554
std      0.612277    0.498835
min      0.000000    0.000000
25%      2.000000    0.000000
50%      2.000000    1.000000
75%      3.000000    1.000000
max      3.000000    1.000000

(302, 14)